// ==========================================================================
// Grid Styles
// ==========================================================================

.grid__row {
  @include mq($break-t) {
    @include flexbox {
      margin-top: 1em;
      margin-bottom: 1em;
      justify-content: space-between;
    }
  }
}

// Flex-item loop to assign correct flex-grow property

@include mq($break-t) {
  @for $i from 1 through 12 {
    .grid__col--#{$i} {
      width: calc(768px*calc(#{$i}/12));
    }
  }
}

@include mq($break-d) {
  @for $i from 1 through 12 {
    .grid__col--#{$i} {
      width: calc(1024px*calc(#{$i}/12));
    }
  }
}
