// ==========================================================================
// Iconographical Styles
// ==========================================================================

#closeIcon {
  align-self: flex-end;
}

.input-icon {
  position: absolute;
  right: 1em;
  top: 1.25em;
  color: lighten($color-primary,15%);
}
